body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
}

.form {
    width: 300px;
    margin: 30px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

label {
    font-weight: bold;
}

input {
    width: 100%;
    padding: 6px;
    margin-top: 5px;
}

button {
    width: 100%;
    padding: 8px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: darkgreen;
}

h2 {
    text-align: center;
}

table {
    margin: auto;
    margin-top: 20px;
    border-collapse: collapse;
    background-color: white;
}

th {
    background-color: black;
    color: white;
}

td, th {
    padding: 10px;
    text-align: center;
}
